mixin footerCopyright(subClass)
    .w-container
        div(class=`copyright copyright--${subClass}`)
            ul(class=`copyright__list copyright__list--${subClass}`)
                li(class=`copyright__item copyright__item--${subClass}`) 
                    span(class=`copyright__text copyright__text--${subClass}`) &copy; Александр Иванов
                li(class=`copyright__item copyright__item--${subClass}`)
                    span(class=`copyright__text copyright__text--${subClass}`) Создано с любовью в Loftschool
                li(class=`copyright__item copyright__item--${subClass}`)
                    span(class=`copyright__text copyright__text--${subClass}`) 2018